DATABASE_URL=postgresql://{USER}:{PASSWORD}@localhost:5432/{DB_NAME}

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET={YOUR_JWT_SECRET_KEY}

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY={YOUR_ENCRYPTION_KEY}

# node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
ENCRYPTION_IV={YOUR_ENCRYPTION_IV}
